.relative {
  position: relative;
  top: 0px;
  left: 0px;
}
body {
  font-family: '微软雅黑';
}
.clearfix:after {
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: ".";
}
.clearfix {
  zoom: 1;
}
@font-face {
  font-family: 'font_card';
  src: url(../fonts/cardnum.ttf);
  font-weight: normal;
  font-style: normal;
}
/*.mytopbg{height:14.375rem; width:100%; background: url("../images/topbg.png") no-repeat; background-size: cover; }*/
/*********************************消息列表页面************************************/
.mytopbg {
  overflow: hidden;
  height: 6.96296296rem;
}
.mytopbg img {
  display: block;
  width: 16rem;
  position: relative;
}
.mytopbg .mytitle {
  color: #fff;
  height: 1.88148148rem;
  text-align: center;
  font-weight: normal;
  font-size: 0.71111111rem;
  line-height: 1.88148148rem;
  margin-bottom: 0.59259259rem;
}
.myInfo {
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
}
* + h2 {
  margin-top: 0px;
}
.myUl li {
  overflow: hidden;
}
.listiconText {
  display: block;
  width: 100%;
  /* -webkit-transform:scale(0.8); -moz-transform:scale(0.8);*/
  text-align: center;
  font-size: 0.38518519rem;
  /* margin-top:6/@rem;*/
}
.listImg {
  display: block;
  vertical-align: middle;
  margin: 0 auto;
}
.listTitle {
  display: block;
  font-size: 1.5rem;
  color: #333;
  margin-top: 1.5rem;
}
.am-list-news-default .am-list .am-list-thumb img {
  width: 50%;
  vertical-align: middle;
  margin: 0 auto;
}
.am-list-news-default .am-list .am-list-item-desced {
  padding-top: 0.59259259rem;
  padding-bottom: 0.59259259rem;
}
.am-list-news-default .am-list .am-list-item-desced .am-list-item-text {
  margin-top: 0.14814815rem;
}
.am-list-news-default .am-list .am-list-item-desced .am-list-item-text.listCon {
  color: #999;
  font-size: 0.47407407rem;
}
.am-list-news-default .am-list .am-list-item-desced .am-list-item-text.listTime {
  color: #333;
  position: absolute;
  bottom: 0.07407407rem;
  left: 0rem;
  font-size: 0.47407407rem;
}
.am-list-news-default .am-list .am-list-item-desced .msgListH .am-list-item-text.listTime {
  left: 0rem;
  color: #666;
}
.am-navbar .am-navbar-nav {
  height: 2.22222222rem;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f0f0f0;
}
.sectionList {
  margin-bottom: 2.22222222rem;
}
.navUl li.slt {
  background-color: #ec900c;
  height: 2.22222222rem;
  margin-top: 0.35555556rem;
}
.navBtn .allbg {
  display: block;
  width: 1.62962963rem;
  height: 1.48148148rem;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  margin-left: -0.81481481rem;
  top: 10%;
}
.am-navbar-nav a {
  color: #666;
  margin-top: 3px;
}
.am-navbar-nav .slt a {
  color: #fff;
}
.am-navbar-nav a.centerA {
  z-index: 100;
  top: -0.2962963rem;
}
.am-navbar-nav a.centerA .centerImg {
  display: inline-block;
  margin-bottom: 0.08888889rem;
  margin-top: 0.2962963rem;
}
.am-navbar-nav a.centerA .am-navbar-label {
  margin-top: 0rem;
}
.am-navbar .am-navbar-nav {
  overflow: initial;
}
.centerBtn:before {
  display: inline-block;
  content: '';
  height: 2.44444444rem;
  width: 2.44444444rem;
  background-color: #f0f0f0;
  position: absolute;
  top: -0.56296296rem;
  left: 50%;
  margin-left: -1.22222222rem;
  border-radius: 1.48148148rem;
  z-index: -1;
}
.centerBtn:after {
  display: inline-block;
  content: '';
  height: 2.22222222rem;
  width: 2.22222222rem;
  background-color: #fff;
  position: absolute;
  top: -0.2962963rem;
  left: 50%;
  margin-left: -1.11111111rem;
  border-radius: 1.48148148rem;
  border: 1px solid #dadada;
}
.msgListnew {
  margin: 0px;
}
.am-header {
  height: 2.177rem;
}
.am-header-default {
  overflow: hidden;
  background-color: #fff;
}
.am-header-default .topbgImg {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
.am-header-title {
  z-index: 100;
}
h3.am-list-item-hd {
  font-size: 0.68148148rem;
}
/******************************我的页面**********************************/
.cardSatus {
  margin-left: 1.18518519rem;
  height: 1.18518519rem;
  line-height: 1.18518519rem;
  font-family: 微软雅黑;
  font-size: 0.53333333rem;
}
.cardSatus.special {
  margin-top: -0.14814815rem;
  margin-bottom: 0.14814815rem;
}
.cardSatus span,
.cardSatus label {
  color: #fff;
  font-weight: normal;
  font-size: 0.53333333rem;
  height: 1.18518519rem;
  line-height: 1.18518519rem;
}
.bodycolor {
  color: #f3f3f3;
}
.sectionAngleIcon {
  display: inline-block;
  width: 0.35555556rem;
  margin-top: 0.14814815rem;
}
.sectionIcon {
  display: inline-block;
  height: 0.74074074rem;
  margin-top: -0.07407407rem;
  margin-right: 0.35555556rem;
  margin-left: 1.18518519rem;
}
.myList a em {
  color: #999;
  font-style: normal;
}
.sectionList {
  background-color: #f3f3f3;
}
.sectionList .am-list > li {
  height: 2.22222222rem;
  margin-top: 0.20740741rem;
  border-top: 1px solid transparent;
}
.bigSize {
  font-size: 0.88888889rem;
  font-weight: normal;
  font-style: normal;
}
/*******************************商户************************************/
.locationIcon {
  display: inline-block;
  height: 0.5037037rem;
  margin-top: -0.04444444rem;
  margin-right: 0.22222222rem;
  margin-left: 0.02962963rem;
}
.am-list-news-default .am-list .am-list-thumb img.storeImg {
  width: 4.14814815rem;
  height: 4.14814815rem;
}
.am-list-news-default .am-list-item-thumb-left .am-list-thumb.storeList {
  width: 4.17777778rem;
  max-height: 4.26666667rem;
  height: 4.26666667rem;
  margin-right: 0.37037037rem;
}
.am-list-news-default.storeListNew .am-list .am-list-item-desced .am-list-main {
  width: 10.22222222rem;
  max-height: 4.26666667rem;
  height: 4.26666667rem;
}
.am-list-news.am-list-news-default.storeListNew.am-no-layout {
  width: 14.81481481rem;
}
.am-list-news-default {
  margin-left: 0.59259259rem;
  margin-right: 0.59259259rem;
}
.storeListNew {
  margin-top: 0px;
}
.am-list-news-default.storeListNew .am-list .am-list-item-desced {
  padding-bottom: 0.6962963rem;
  padding-top: 0.44444444rem;
}
.storeListNew .am-list > li {
  height: 5.27407407rem;
  border-top: 1px solid transparent;
  margin-bottom: 0px;
}
.storeList .am-list-item-hd {
  font-family: 微软雅黑;
  color: #333;
}
.am-panel > .am-list > li > a {
  padding: 0.74074074rem 0;
  padding-left: 0rem;
}
.am-navbar-nav a .am-navbar-label {
  font-size: 0.38518519rem;
  margin-top: 0.08888889rem;
  padding-top: 0;
}
.am-header-default .am-header-nav {
  height: 2.17777778rem;
  line-height: 2.17777778rem;
  font-size: 0.53333333rem;
}
.am-header-default .am-header-nav > a {
  color: #fff;
}
.msgListnew .am-list > li {
  height: 4.47407407rem;
  border-top: 1px solid transparent;
  margin-bottom: 0px;
}
.msgListH {
  height: 3.2rem;
  padding-right: 0;
}
.myList {
  padding-bottom: 0.20740741rem;
}
.myList a {
  color: #666;
  font-size: 16px;
}
.am-list.myList > li > a {
  height: 2.22222222rem;
  font-size: 0.59259259rem;
  line-height: 0.74074074rem;
}
.msgDetail img {
  display: block;
  height: 2.51851852rem;
  width: 2.51851852rem;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 0.74074074rem;
}
.msgDetail h3.am-list-item-hd {
  text-align: center;
  font-weight: 400;
  margin-top: 0.59259259rem;
  margin-bottom: 0;
}
.bottom0 {
  bottom: 0!important;
}
.msgDetail .page {
  display: inline-block;
  font-size: 0.47407407rem;
  line-height: 0.88888889rem;
  color: #999;
  padding: 0 1.18518519rem;
  margin-top: 0.59259259rem;
  margin-bottom: 5.45185185rem;
  font-weight: normal;
}
.timeBox {
  margin-left: 1.18518519rem;
}
.timeBox label {
  display: block;
  color: #666;
  font-size: 0.35555556rem;
  font-weight: normal;
}
.timeBox label span {
  color: #333!important;
  font-size: 0.35555556rem;
}
.am-with-fixed-header {
  padding-top: 2.17777778rem;
}
.am-header .am-header-title {
  height: 2.17777778rem;
  line-height: 2.17777778rem;
  font-weight: normal;
  font-size: 0.77037037rem;
}
.am-header-default .am-header-right .am-header-nav-title {
  font-size: 0.53333333rem;
  margin-right: 1.18518519rem;
  line-height: 2.17777778rem;
  width: 0.88888889rem;
  height: 0.88888889rem;
}
.am-header-default .am-header-left .am-header-nav-title {
  font-size: 0.53333333rem;
  margin-left: 0.59259259rem;
  line-height: 2.17777778rem;
  width: 0.88888889rem;
  height: 0.88888889rem;
}
.am-navbar {
  height: 2.22222222rem;
}
.am-navbar-nav a {
  display: inline-block;
  height: 2.22222222rem;
  line-height: 1.11111111rem;
  margin-top: 0;
}
.am-navbar-nav a img {
  width: 1.03703704rem;
  height: 1.03703704rem;
  margin-top: 0.26666667rem;
}
.am-navbar .am-navbar-nav li {
  z-index: 10;
}
.am-header .am-header-nav img {
  display: inline-block;
  width: 0.88888889rem;
  height: 0.88888889rem;
}
/****************************首页****************************/
.indexTop {
  height: 9.82222222rem;
  overflow: hidden;
}
.indexTop .innerImg {
  display: inline;
  height: 9.82222222rem;
  position: relative;
  z-index: 10;
}
.indexTop .cardImg {
  display: inline;
  height: 7.17037037rem;
  width: 11.58518519rem;
  margin: auto;
  position: absolute;
  top: 1.02222222rem;
  left: 2rem;
  z-index: 20;
}
.cardInfo {
  position: absolute;
  top: 4.41481481rem;
  left: 2.93333333rem;
  color: #fff;
  z-index: 100;
}
.cardName {
  display: block;
  font-weight: bold;
  font-size: 0.53333333rem;
  color: #fff;
}
.cardNum {
  font-family: font_card;
  font-size: 1.48148148rem;
  display: block;
  margin-top: -0.2962963rem;
}
.cardTime {
  font-size: 0.53333333rem;
  display: block;
  margin-left: 6.22222222rem;
  margin-top: -0.74074074rem;
}
.numType {
  display: inline-block;
  font-family: '微软雅黑';
  font-size: 1.77777778rem;
  font-weight: bolder;
  position: relative;
  top: -1.48148148rem;
  left: 1.18518519rem;
  margin-left: -0.47407407rem;
}
.bigNum {
  display: inline-block;
  font-family: font_card;
  font-size: 4.2962963rem;
  margin-top: 1.48148148rem;
}
.smallNum {
  display: inline-block;
  font-family: font_card;
  font-size: 1.48148148rem;
  margin-top: 1.48148148rem;
}
.cardMoney {
  height: 10.1037037rem;
  /*margin-top:100/@rem;*/
}
.bottomText {
  width: 100%;
  font-size: 0.41481481rem;
  position: absolute;
  bottom: 0.71111111rem;
  text-align: center;
  color: #ccc;
  z-index: 15;
}
.bdHidden {
  overflow: hidden;
}
.homebg {
  overflow: hidden;
  height: 28.44444444rem;
  background: url("../images/homebg.png") no-repeat;
  background-size: 100% 100%;
}
.logo {
  width: 10.01481481rem;
  height: 5.8962963rem;
  overflow: hidden;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -5.00740741rem;
  margin-top: -1.76888889rem;
}
.logo img {
  display: inline-block;
  width: 10.01481481rem;
  height: 5.8962963rem;
}
.loginlogo {
  width: 4.72592593rem;
  height: 5.54074074rem;
  overflow: hidden;
  position: absolute;
  top: 12%;
  left: 50%;
  margin-left: -2.36296296rem;
  margin-top: -0.66488889rem;
}
.loginlogo img {
  display: inline-block;
  width: 7.77777778rem;
  height: 5.86666667rem;
}
fieldset {
  margin: 0;
  padding: 0;
}
.inputCon {
  width: 11.18518519rem;
  margin: 0 auto;
  margin-top: 75%;
}
.inputBox {
  width: 11.18518519rem;
  height: 1.95555556rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.17777778rem;
  -webkit-border-radius: 0.17777778rem;
  -moz-border-radius: 0.17777778rem;
  background: #0a0808;
}
.am-form input[type=text].loginInput {
  width: 9.00740741rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  color: #fff;
  border: none;
  font-size: 0.53333333rem;
  background: transparent;
  padding: 0;
  margin: 0.44444444rem 0;
}
.am-form input[type=text].loginInput:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
  border: none;
  box-shadow: none;
}
.userBg {
  display: inline-block;
  width: 2.04444444rem;
  height: 1.95555556rem;
}
.userBg img {
  display: block;
  width: 0.88888889rem;
  height: 0.88888889rem;
  margin: 0 auto;
  margin-top: 0.44444444rem;
}
.loginBtn {
  display: block;
  height: 2.22222222rem;
  width: 11.18518519rem;
  margin: 0 auto;
  background: #ec900c;
  font-size: 0.59259259rem;
  text-align: center;
  color: #fff;
  border-radius: 0.17777778rem;
  -webkit-border-radius: 0.17777778rem;
  -moz-border-radius: 0.17777778rem;
}
.loginBtn:hover {
  color: #fff;
}
.moreBtn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.62222222rem;
  color: #1c1617;
  position: fixed;
  bottom: 1.33333333rem;
  left: 0;
}
.moreBtn:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 320px) {
  .am-navbar-nav a .am-navbar-label {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
  }
  .am-navbar-nav a.centerA .centerImg {
    margin-bottom: 0.05925926rem;
  }
  .listiconText {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
  }
}
